header {
  margin: 0px;
  padding: 1em;
  text-align: center;
  position: relative;
  z-index: 1000;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
body .localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #f3f3f3;
  padding: 0.8em 1em;
  font-size: 0.8em;
}
body .localisation h2 {
  margin: 0px;
}
body .reservation {
  padding: 2em;
  text-align: center;
  background-color: #fafafa;
}
body .reservation p {
  font-weight: 300;
  margin: 1.5em 0;
}
body .reservation button {
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
  transition: 200ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
body .reservation button:hover {
  transform: scale(1.02);
}
body .fonctionnement {
  padding: 2em 1em;
  position: relative;
  margin: auto;
  width: 65%;
}
@media (max-width: 800px) {
  body .fonctionnement {
    width: 95%;
  }
}
body .fonctionnement h2 {
  margin-top: 0;
  padding-left: 2.5em;
}
@media (max-width: 800px) {
  body .fonctionnement h2 {
    padding-left: 0.5em;
  }
}
body .fonctionnement .etapes {
  display: flex;
  margin: auto;
  position: relative;
}
@media (max-width: 800px) {
  body .fonctionnement .etapes {
    flex-direction: column;
    gap: 1.5em;
    padding-left: 0%;
  }
}
body .fonctionnement .etapes ol {
  display: flex;
  list-style: none;
  counter-reset: compteListe;
}
body .fonctionnement .etapes li {
  display: flex;
  flex: 1;
  margin: 0 0 0 2em;
  background-color: #f6f6f6;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  padding: 1.5em 2em;
  border-radius: 1em;
  position: relative;
}
body .fonctionnement .etapes li::before {
  display: flex;
  justify-content: center;
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  left: -0.75rem;
  border-radius: 100px;
  align-items: center;
  color: #fff;
  position: absolute;
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
}
body .fonctionnement .etapes i {
  margin-right: 1em;
  color: #7e7e7e;
}
body .affiche-restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
body .affiche-restaurants .titre-resto {
  max-width: 1280px;
  margin: auto;
  position: relative;
}
body .affiche-restaurants .liste-restaurants {
  column-gap: 2rem;
  row-gap: 2rem;
  max-width: 1280px;
  margin: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  body .affiche-restaurants .liste-restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
body .affiche-restaurants .restaurant {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  width: 45%;
}
@media (max-width: 800px) {
  body .affiche-restaurants .restaurant {
    width: 100%;
  }
}
body .affiche-restaurants .restaurant:hover {
  transform: scale(1.02);
  cursor: pointer;
  transition: 200ms;
}
body .affiche-restaurants .restaurant .nouveau {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
body .affiche-restaurants img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
body .affiche-restaurants .description {
  text-align: center;
  padding: 2%;
  position: relative;
  display: flex;
  align-items: center;
}
body .affiche-restaurants .description p {
  width: 100%;
}
body .affiche-restaurants .description .texte-description {
  flex: 1;
}
@media (max-width: 800px) {
  body .affiche-restaurants .description {
    text-align: left;
  }
}
body .affiche-restaurants .description h3 {
  margin: 0 0 0.25rem;
}
body .affiche-restaurants .description p {
  margin: 0%;
}
body .affiche-restaurants .description .icone {
  font-size: 35px;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 1280px;
  margin: auto;
  position: relative;
}
.footer .footer-logo {
  color: #fff;
  text-align: center;
  font-family: Shrikhand, "cursive";
  font-size: 1.2rem;
  margin: 0 0 1rem;
}
.footer .liste {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.footer .clique {
  margin-top: 0;
  margin: 0.5em 0;
  color: #fff;
  text-decoration: none;
}
.footer .clique i {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
