.chargement {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  animation: disparition 3500ms forwards;
}
.chargement .placement {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chargement .placement .animation {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #8d38f6;
  animation: mouvement 2s linear infinite;
}
.chargement .placement .animation::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #8f38f9;
  animation: mouvement 3s linear infinite;
}
.chargement .placement .animation::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid #8f38f9;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
body .localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #f3f3f3;
  padding: 0.8em 1em;
  font-size: 0.8em;
}
body .localisation h2 {
  margin: 0px;
}
body .reservation {
  padding: 2em;
  text-align: center;
  background-color: #fafafa;
}
body .reservation p {
  font-weight: 300;
  margin: 1.5em 0;
}
body .reservation button {
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
  transition: 200ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
body .reservation button:hover {
  transform: scale(1.02);
}
body .fonctionnement {
  padding: 2em 0em;
  margin: auto;
  max-width: 1280px;
  position: relative;
}
@media (max-width: 800px) {
  body .fonctionnement {
    width: 95%;
  }
}
body .fonctionnement h2 {
  margin-top: 0;
}
@media (max-width: 800px) {
  body .fonctionnement h2 {
    padding-left: 0.5em;
  }
}
body .fonctionnement .etapes {
  display: flex;
  margin: 0;
  padding: 0;
  counter-reset: compteListe;
}
@media (max-width: 800px) {
  body .fonctionnement .etapes {
    flex-direction: column;
    gap: 1.5em;
    padding-left: 0%;
  }
}
body .fonctionnement .etapes :hover {
  background-color: #f5edff;
}
body .fonctionnement .etapes li {
  display: flex;
  flex: 1;
  margin: 0 0 0 2em;
  background-color: #f6f6f6;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  padding: 1.5em 2em;
  border-radius: 1em;
  position: relative;
  font-weight: 500;
}
body .fonctionnement .etapes li::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.75rem;
}
body .fonctionnement .etapes i {
  margin-right: 1em;
  color: #7e7e7e;
}
body .affiche-restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
body .affiche-restaurants .titre-resto {
  max-width: 1420px;
  margin: auto;
  position: relative;
  font-size: 115%;
}
body .affiche-restaurants .titre-resto h2 {
  margin-top: 0;
}
body .affiche-restaurants .liste-restaurants {
  column-gap: 2rem;
  row-gap: 2rem;
  max-width: 1500px;
  margin: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  body .affiche-restaurants .liste-restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
body .affiche-restaurants .restaurant {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  width: 45%;
}
@media (max-width: 800px) {
  body .affiche-restaurants .restaurant {
    width: 100%;
  }
}
body .affiche-restaurants .restaurant:hover {
  transform: scale(1.02);
  cursor: pointer;
  transition: 200ms;
}
body .affiche-restaurants .restaurant .nouveau {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
body .affiche-restaurants img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
body .affiche-restaurants .description {
  text-align: center;
  padding: 2%;
  position: relative;
  display: flex;
  align-items: center;
}
body .affiche-restaurants .description p {
  width: 100%;
}
body .affiche-restaurants .description .texte-description {
  flex: 1;
}
@media (max-width: 800px) {
  body .affiche-restaurants .description {
    text-align: left;
  }
}
body .affiche-restaurants .description h3 {
  margin: 0 0 0.25rem;
}
body .affiche-restaurants .description p {
  margin: 0%;
}
body .affiche-restaurants .description .icone {
  font-size: 35px;
}
body .affiche-restaurants .description .bouton-coeur i {
  font-size: 2em;
  position: absolute;
  right: 1em;
  top: 25%;
}
body .affiche-restaurants .description .bouton-coeur .fas {
  color: transparent;
  background-image: linear-gradient(0deg, #8c4dda, #fb72d4);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
body .affiche-restaurants .description .bouton-coeur:hover .fas {
  transition: 0.5s;
  opacity: 1;
}
body header {
  margin: 0px;
  padding: 1em;
  text-align: center;
  position: relative;
  z-index: 1000;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}
body .header__arrow {
  position: absolute;
  left: 2em;
  height: 2em;
  width: 2em;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: #000;
}
body .header_menu {
  padding: 1em 2em 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 30%;
  padding-left: 9%;
}
body .header-menu .menu-titre {
  font-family: Shrikhand, "cursive";
}
body .header-menu .bouton-coeur {
  border: 0 solid transparent;
}
body .header-menu .bouton-coeur i {
  font-size: 2em;
  position: absolute;
  right: 1.75em;
  top: 3.1%;
}
@media (max-width: 800px) {
  body .header-menu .bouton-coeur i {
    top: 1.75%;
  }
}
body .header-menu .bouton-coeur .fas {
  color: transparent;
  background-image: linear-gradient(0deg, #9352e1, #f369cb);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
body .header-menu .bouton-coeur:hover .fas {
  transition: 0.5s;
  opacity: 1;
}
@media (max-width: 1300px) {
  body .header-menu {
    padding-left: 5%;
  }
}
@media (max-width: 800px) {
  body .header-menu {
    padding: 0em 0em 0 1em;
    margin: 0;
    width: 95%;
  }
}
body .image-page {
  max-width: 100%;
  max-height: 32em;
  width: 100%;
  object-fit: cover;
}
body .affiche {
  max-width: 1280px;
  margin: auto;
}
body .menu {
  margin-top: -4em;
  border-radius: 2em 2em 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
body .les-menus {
  column-gap: 1em;
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
}
body .les-menus .le-menu {
  background-color: #fff;
  box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.1);
  padding: 1em;
  display: flex;
  border-radius: 0.75em;
  margin: 1em 0;
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  animation: apparition 0.75s;
  animation-timing-function: cubic-bezier(0, 0.99, 0.6, 0.9);
  animation-fill-mode: both;
}
@media (max-width: 800px) {
  body .les-menus .le-menu {
    width: 88%;
  }
}
body .les-menus .le-menu:hover .validation {
  margin-right: -1rem;
}
body .les-menus .le-menu:hover .iconev {
  transform: rotate(0deg);
}
@keyframes apparition {
  from {
    transform: scale(0);
    opacity: 0%;
  }
  20% {
    opacity: 10%;
  }
  40% {
    opacity: 20%;
  }
  80% {
    opacity: 60%;
  }
  90% {
    opacity: 80%;
  }
  to {
    transform: scale(1);
    opacity: 100%;
  }
}
body .les-menus .le-menu .texte-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
body .les-menus .le-menu .texte-description .menu-nom {
  margin: 0;
}
body .les-menus .le-menu .texte-description .menu-description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .les-menus .le-menu .menu-prix {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5em;
}
body .les-menus .liste-menu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1em;
}
@media (min-width: 1101px) {
  body .les-menus .liste-menu {
    width: 100%;
  }
}
body .les-menus .liste-menu .entree-menu {
  font-weight: 400;
  padding-bottom: 0.5em;
  text-transform: uppercase;
  position: relative;
}
body .les-menus .liste-menu .entree-menu::after {
  content: "";
  width: 3em;
  height: 0.25em;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
body .les-menus .liste-menu .validation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
@media (max-width: 800px) {
  body .les-menus .liste-menu {
    padding: 0;
  }
}
body .les-menus .liste-menu .d0 {
  animation-delay: 0s;
}
body .les-menus .liste-menu .d1 {
  animation-delay: 0.1s;
}
body .les-menus .liste-menu .d2 {
  animation-delay: 0.2s;
}
body .les-menus .liste-menu .d3 {
  animation-delay: 0.3s;
}
body .les-menus .liste-menu .d4 {
  animation-delay: 0.4s;
}
body .les-menus .liste-menu .d5 {
  animation-delay: 0.5s;
}
body .les-menus .liste-menu .d6 {
  animation-delay: 0.6s;
}
body .les-menus .liste-menu .d7 {
  animation-delay: 0.7s;
}
body .les-menus .liste-menu .d8 {
  animation-delay: 0.8s;
}
body .les-menus .liste-menu .d9 {
  animation-delay: 0.9s;
}
body .iconev {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
body .iconev .menuItem__icon {
  color: #99e2d0;
}
body .bouton-degrade {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}
body .bouton-degrade .commander {
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(151, 88, 228, 0.9), rgba(244, 113, 207, 0.9));
  color: #fff;
  padding: 0.75rem 5.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
  transition: 200ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
body .bouton-degrade .commander:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 800px) {
  body .bouton-degrade .commander {
    padding: 0.75rem 2.5rem;
  }
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 1280px;
  margin: auto;
  position: relative;
}
.footer .footer-logo {
  color: #fff;
  text-align: center;
  font-family: Shrikhand, "cursive";
  font-size: 1.2rem;
  margin: 0 0 1rem;
}
@media (max-width: 800px) {
  .footer .footer-logo {
    text-align: start;
  }
}
.footer .liste {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media (max-width: 800px) {
  .footer .liste {
    text-align: start;
  }
}
.footer .clique {
  margin: 0.5em 0;
  color: #fff;
}
.footer .clique a {
  color: #fff;
  text-decoration: none;
}
.footer .clique:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer .clique i {
  width: 1.2rem;
  margin-right: 0.5rem;
}

@keyframes mouvement {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes disparition {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    display: none;
    z-index: -1;
  }
}
@media (max-width: 1100px) {
  .les-menus {
    flex-wrap: wrap;
  }
  .liste-menu {
    width: 44%;
  }
  .dessert {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .liste-menu {
    width: 100%;
  }
  .les-menus {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
